body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #fff;
    color: #8DCC98;
    padding: 10px 0;
}

.navigation-links-container{
    float: right;
}

nav ul {
    list-style: none;
    text-align: center;
    margin-top: 4rem;
   
    
  
}


nav li {
    display: inline;
    margin: 0 20px;
   
}



nav a {
    text-decoration: none;
    color: #8DCC98;
    font-weight: bold;
}

.content {
    

        height: 100%;
        background-image: url("images/library-bus.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 25%;
        
}

.content .img{
    opacity: 0.5;
}

.about-us{
padding:  15%;
background-color: #fff;
text-align: center;
text-justify:auto;
}

/* contact form section */
.contact-form-container {
    /* display: flex; */
    text-align: center;
    background-color: #8DCC98;
    padding-top: 10%;
    padding-bottom: 10%;
}

#contact-form-title-text{
padding: 5%, 0, 5%, 5%;
color: #fff;
}



.contact-form {
    background-color: #8DCC98;
    padding: 20px;
    height: 100%;
    border-radius: 5px;
    max-width: 400px;
    margin: 0 auto;
}

.contact-details{
    display: flex;
    justify-content: space-between;
}

.contact-form h2 {
    font-size: 24px;
    text-align: center;
    color: #333;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    
    
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.contact-form textarea {
    resize:none;
}

/* submit button */
.contact-form button[type="submit"] {
    background-color: #E9EE0C;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.footer{
    padding-top: 7%;
    padding-bottom: 7%;
    background-color: #E9EE0C;
    color: #fff;
}